{%  extends 'base.html' %}
{%  block title %} Add post | Posts. {%  endblock %}
{%  block content    %}
<br>
{% if user.is_authenticated %}

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} <!-- used for data protection -->
            {{ form.media }}
            {{ form.as_p }} <!-- each form field is in the form of a paragraph -->
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>
</div>


<script>
    var userId = "{{ user.id }}";
    document.getElementById("currentUser").value = userId;
</script>
{% else %}
<p>please login</p>
{% endif %}

{% endblock %}
