{% extends 'nonLoginBase.html' %}

{% block title %}
    Delete post | {{ post.title }} | 
{% endblock %}

{% block content %}

    <p class="h2 my-4">Delete the post</p>

    <div class="container newpost rounded-4 card-body form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure that you want to delete the post?</strong>
            <div class="d-grid gap-2 col-1 mx-auto">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>

{% endblock %}


