{%  extends 'base.html' %}

{%  block content    %}
<br>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'post-detail' post.pk %}"><b>{{  post.title }}</b></a> - {{  post.author.first_name }} {{  post.author.last_name }} <br/>
        @{{  post.author }} . {{ post.post_date }} . {{ post.post_time }}<br/>
        <a href="{% url 'category-view' post.category|slugify %}">{{  post.category }}</a><br>
        <hr>
        {{ post.body|slice:":200"|safe }}</li>
    <br>
{% endfor %}
</ul>
{%  endblock    %}
<!-- so here the url is written in the above format of {% url 'name of the url path from urls.py' and any parameters here %} -->