{%  extends 'base.html' %}
{%  block title %} {{ post.title }} | Posts. {%  endblock %}

{%  block content    %}
<h1>{{  post.title  }}</h1>
<small>By: @{{ post.author  }} . {{ post.post_date }} . {{ post.post_time }}</small><br>
<small>{{  post.category }}</small>
<hr>
<p>{{ post.body|safe }}</p> <!-- the safe lets us input html for formatting the text in the body -->

<br><br>
{% if user.is_authenticated %}
<a href="{% url 'edit-post' post.pk %}" class="btn btn-secondary">Edit</a>

<a href="{% url 'delete-post' post.pk %}" class="btn btn-secondary">Delete</a>
{% else %}
{% endif %}
{%  endblock    %}