{%  extends 'base.html' %}
{% load static %}
{%  block title %} {{ post.title }} | Posts. {%  endblock %}

{%  block content    %}
<h1>{{  post.title  }}</h1>
<small>By: @{{ post.author  }} . {{ post.post_date }} . {{ post.post_time }}</small><br>
<small><a href="{% url 'category-view' post.category|slugify %}">{{  post.category }}</a></small>
<hr>
{% if post.header_image %}
    <img src="{{ post.header_image.url }}" alt="Post Image" width="200px" height="200px"> <br><br>
{% endif %}


<p>{{ post.body|safe }}</p> <!-- the safe lets us input html for formatting the text in the body -->

<br><br>
{% if user.is_authenticated %}
    <form action="{% url 'like-post' post.pk %}" method="post">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button> - {{ total_likes }} likes
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button> - {{ total_likes }} likes
        {% endif %}
    </form>
    <br><br>


    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
            <img src="{% static 'startBlog/images/images.jpeg' %}" class="img-fluid rounded-start" alt="...">
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">@{{ post.author  }}</h5>
              <p class="card-text">
                <small class="text-body-secondary">
                {% for name, url in post.author.profile.get_social_links.items %}
                    <a href="{{ url }}" target="_blank">{{ name }}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}
                </small>
              </p>            
              <p class="card-text">{{ post.author.profile.bio }}</p>
            </div>
          </div>
        </div>
      </div>

    <!-- <img src="" alt="" class="rounded-circle" height="100" width="100"> -->
    <br><br>
    {% if user.id == post.author.id %}
        <a href="{% url 'edit-post' post.pk %}" class="btn btn-secondary">Edit</a>

        <a href="{% url 'delete-post' post.pk %}" class="btn btn-secondary">Delete</a>
    {% endif %}
{% else %}
{% endif %}
{%  endblock    %}